<p id="notice"><%= notice %></p>

<div>
	<strong><%= @blog.title %></strong>
	<em> by <%= @blog.byline %> </em>
</div>
<div>
	<p><%= @blog.text %></p>
</div>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
